<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="containerr ">
    <div class="row">
        <div class="col-md-6 col-12">
            <div id="over">
                <div class="green-label text-uppercase">Se Parte de Lett</div>
                <div id="payment">
                    <div class="text-white pt-2">Un Foro donde se pueden crear comunidades</div>
                    <div class="text-justify text-lighter">y se puede debatir en ellas !!!</div>
                </div>
            </div>
            <div class="text-justify py-3"> Este es un proyecto para desafioLatam </div>
            <div class="h6 py-2 pt-4 font-weight-bold">Te dejo mi Github por dudas</div>
            <div class="d-flex align-items-center pb-4"> <a href="https://github.com/michelvalenzuela?tab=repositories">Git <span class="fas fa-arrow-right text-primary"></span> </a> </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="wrapper bordered bg-md-white d-flex flex-column align-items-between">
                <div class="form">
                    <div class="h4 font-weight-bold text-center mb-4">Login to Dashboard</div>
                    <div class="form-group">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
                    </div>
                      <% if devise_mapping.rememberable? %>
                        <div class="form-group">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end %>
                       <div class="form-group">
                          <%= f.submit "Log in", class: "btn btn-primary btn-block rounded-0" %>
                        </div>
                      <% end %>
                    <div class="form-group">
                    <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>